<div class="wrapper">
  <div class="row col-lg-8">
     <h1>Add new sensor</h1>
     <div class="col-lg-10">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
           <mat-form-field>
              <input matInput placeholder="Name" type="text" formControlName="name"
                 [ngClass]="{ 'is-invalid' :submitted && f.name.errors }">
              <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                 Name is required.
              </div>
           </mat-form-field>
           <mat-form-field>
              <input matInput placeholder="Path" type="text" formControlName="path"
                 [ngClass]="{ 'is-invalid': submitted && f.path.errors }">
              <div class="invalid-feedback" *ngIf="submitted && f.path.errors">
                 Path is required.
              </div>
           </mat-form-field>
           <mat-form-field>
              <mat-select placeholder="Unit Symbol" formControlName="unitSymbol">
                 <mat-option value="mb">mb</mat-option>
                 <mat-option value="count">count</mat-option>
                 <mat-option value="%">%</mat-option>
                 <mat-option value="℃">℃</mat-option>
              </mat-select>
           </mat-form-field>
           <mat-form-field>
              <input matInput placeholder="Value" type="text" formControlName="value">
           </mat-form-field>
           <mat-form-field>
              <mat-select placeholder="Type" formControlName="type">
                 <mat-option value="FEED">FEED </mat-option>
                 <mat-option value="ACTUATOR">ACTUATOR</mat-option>
                 <mat-option value="ALARM">ALARM</mat-option>
              </mat-select>
           </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="primary" >Submit</button>
        </form>
     </div>
  </div>
</div>
